body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  margin-top: 100px;
  margin-left: 600px;
  
 
}

/*h1 {
  font-size: 2.5rem;
  color: #333;
  text-align: center;
}*/

.buttons {
  margin-top: 100px;
  padding: 125px;
  
}

button {
  padding: 15px 30px;
  font-size: 1.2rem;
  background-color: #d13014;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
  
  
}

button:hover {
  background-color: rgb(224, 79, 79);
}

.form-container {
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 1.1rem;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  width: 100%;
  background-color: #4CAF50;
}

button[type="submit"]:hover {
  background-color: #45a049;
}
.note{
  height: 100%;
  width: 30%;
  margin-left: 32%;
  margin-top: 8%;
  background-color:burlywood;
  padding-top: 1%;
  padding-left: 2%;
  padding-bottom: 1%;
  text-align: center;
  /*display: flex;
  align-items: center;
  justify-content: column;*/
}
.table{
  width: 30%;
  height: auto;
  margin:3%auto;

}
.comp{
  margin-left: 32%;
}
.back{
  margin-top: 30%;
  margin-left: 42%;
}
body{
  margin: 0%;
  padding: 0%;
  font-family: Arial;
}
nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 10px 90px;
  box-sizing: border-box;
  background: rgba(156, 194, 231, 0.6);
  border-bottom: 1px solid #fff;
}

h1{
  margin: top 25px;;
  color: rgb(10, 20, 103);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
nav.logo{
  padding: 22px 20px;
  height: 80px;
  float: left;
  font-size: 80%;
  font-weight: bold;
  text-transform: uppercase;
  color: #b5422e;
}
nav ul{
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul li a{
  line-height: 0px;
  bottom: 3px;
  color: #fff;
  padding: 5px 20px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
nav ul li a:hover{
  background: rgba(255, 13, 13, 0.7);
  border-radius: 6px;
}
section{
  width: 100%;
  height: 100vh;
  background: url(blood.jpg);
  background-size: cover;
  background-position: center;
}